<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<typeAliases>
	<typeAlias type="domain.ProductVO" alias="pvo"/>
	<typeAlias type="domain.MemberVO" alias="mvo"/>
	<typeAlias type="domain.CommentVO" alias="cvo"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jsp"/>
        <property name="username" value="jspuser"/>
        <property name="password" value="mysql"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/MemberMapper.xml"/>
    <mapper resource="mapper/ProductMapper.xml"/>
    <mapper resource="mapper/CommentMapper.xml"/>
  </mappers>
</configuration>